body {
  margin: 0; 
  min-width: 320px;
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSans-Bold.woff2);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: regular;
  font-style: normal;
} 

@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSans-Regular.woff2);
  font-weight: regular;
  font-style: normal;
} 

/*mobile*/

.header {
  display: flex;
  position: relative;
  background-image: url("../img/football_767.jpg");
  background-repeat: no-repeat;
  background-position: center top; 
  background-size: cover;
  bottom: 0;
  
}

.header::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #0a0e34;
  background-size: cover;
  position: absolute;
  opacity: 0.9;
  }

.header-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
  width: 87.5%;
  padding-top: 33px;
  padding-bottom: 83px;
}

.logo {
  margin-bottom: 123px;
}

.logo-text-icon {
  width: 132px;
  height: 36px;
}

.title-container {
  margin: auto;
}

.title {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.75rem;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: Open Sans;
  font-weight: 700;
  text-transform: uppercase;
  margin: auto;
}

.title_part-2 {
  width: 100%;
  margin-top: 8px;
  padding-left: 45px;
  
}

.links-container {
  width: 100%;
  margin-top: auto;
}

.links-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link-box {
  display: flex;
  justify-content: center;
  height: 35px;
  background-color: #5e42b0;
  border-radius: 17px;
}

li:first-child {
  margin-bottom: 12px;
  margin-top: 83px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 8px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: Open Sans;
  font-weight: 400;
  text-transform: uppercase;
}

.link-logo {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.link-name {
  font-weight: 700;
  margin: 0;
}

/*athlets*/
.article-container-athlets {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items:flex-start;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  position: relative;
  padding-top: 5px;
}

.article-title {
  font-size: 50px;
  color: #e7e7e7;
  font-family: Open Sans;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 235px;
  padding-left: 20px;
}
 
.article-image-footballer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-size: auto;
  margin-top: 75px;
  position: absolute;
} 

.article-item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 50px;
}

.connection {
  background-color: #fafafa; 
  padding-top: 80px;
}

.item-content {
  padding-left: 20px;
  padding-right: 20px;
}

.item-title {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  
}

.item-number {
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
  font-family: Open Sans;
  font-weight: 700;
  margin-right: 10px;
}

.item-number::after {
  display: block;
  content: "";
  width: 15px;
  height: 4px;
  border-radius: 1px;
  background-color: #5e42b0;
  margin-left: auto;
  margin-right: auto;
}

.item-name {
  font-size: 23px;
  letter-spacing: 1px;
  color: #c1c1c1;
  font-family: Open Sans;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.item-text {
  font-size: 15px;
  letter-spacing: 1px;
  color: #000000;
  font-family: Open Sans;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0;
}

.collaboration {
  background-color: #f5f4f9;
  padding-top: 50px;
}

.growth {
  background-color: #5e42b0;
  padding-top: 50px;
}

.last-item-number {
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
  font-family: Open Sans;
  font-weight: 700;
  margin-right: 10px;
}

.last-item-number::after {
  display: block;
  content: "";
  width: 15px;
  height: 4px;
  border-radius: 1px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.last-item-text {
  font-size: 15px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: Open Sans;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0;
}

/*players*/
.article-container-players {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items:flex-start;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  position: relative;
  padding-top: 5px;
}
  
.article-image-basketballer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-size: auto;
  margin-top: 75px;
  position: absolute;
}

/*direction*/
.article-container.directions {
  display: flex;
  flex-wrap: wrap;
  /*position: relative;*/
  flex-direction: column;
  align-items:flex-start;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-top: 0;
}

.direction-number-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #5e42b0;
  position: absolute;
  margin-left: 20px;
  margin-top: -85px;
}

 /*.be-active*/ /*как изображение размером 620х702 сделать уменьшающимся до 320х351?*/

  .direction-number {
  font-size: 14px;
  letter-spacing: 1px;
  color: #f5f6f7;
  font-family: Open Sans;
  font-weight: 700;
  text-align: center;
}

.direction-number::after {
  display: block;
  content: "";
  width: 15px;
  height: 4px;
  border-radius: 1px;
  background-color:#ffffff;
  margin-left: auto;
  margin-right: auto;
}


.article-content.directions {
  padding-top: 25px;
}

.article-title.direction {
  margin-bottom: 20px;
  font-size: 28px;
  letter-spacing: 1px;
  color: #e7e7e7;
}

.item-text.direction {
  padding-left: 20px;
  padding-right: 20px;
}

/*end_mobile*/


@media(min-width: 641px) {
  
  li:first-child {
   margin-bottom: 0;
  }

  .link-box {
    width: 48%;
    max-width: 312px;
    height: 77px;
    border-radius: 38px;
  }

  .link {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
  }

  .link-logo {
    width: 45px;
    height: 41px;
    margin-right: 25px;
  }

}



@media(min-width: 641px) and (max-width: 960px) {
  
  .header {
    background-image: url("../img/football_1280.jpg");
  }
  
  .header-container {
    width: 85%;
    max-width: 620px;
    padding-top: 40px;
    padding-bottom: 90px;
  }
  
  .logo {
    margin-bottom: 135px; 
  }

  .logo-text-icon {
    width: 204px;
    height: 60px;
  }

  .title {
    font-size: 4rem;
    letter-spacing: 3px;
  }

 .title_part-2 {
    margin: 0; 
    padding-left: 105px;
  }

  .links-list {
    display: flex;
    justify-content: space-between;
  }

  li.link-box {
    margin-top: 295px;
  }
    
  .article-container {
    padding-top: 55px;
  }

  .article-image-footballer {
    justify-content: flex-end;
    max-width: 340px;
    margin-top: 30px;
  }

  .article-title {
    font-size: 80px;
    margin-bottom: 0;
  }
    .article-title.athlets {
    padding-left: 40%;
  }

  .article-item.athlets {
    padding-bottom: 40px;
  }

  .item-content.athlets {
    padding-left: 40%; 
    padding-right: 30px;
  }

  .item-number {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .item-number::after {
    width: 19px;
    height: 5px;
    border-radius: 2px;
  }

  .item-name {
    font-size: 32px;
  }

  .item-text {
    font-size: 16px;
  }

  .connection {
    background-color: #ffffff; 
    padding-top: 30px;
    padding-bottom: 40px;
    
  }

  .collaboration {
    padding-top: 40px;
    padding-bottom: 40px;
    
  }
  
  .growth {
    padding-top: 40px;
    padding-bottom: 40px;
    
  }

  .last-item-number {
    font-size: 18px;
  }
  
  .last-item-number::after {
    width: 19px;
    height: 5px;
  }
  
  .last-item-text {
    font-size: 16px;
  }

  /*player_tablet*/
   .article-image-basketballer {
    justify-content: flex-end;
    max-width: 440px;
    margin-top: 0;
    left: 45%;
  }
  .item-content.players {
    padding-right: 45%;
    padding-left: 30px;
  }

}

@media(min-width: 961px) {

  .header {
    background-image: url("../img/football_1920.jpg");
  }

  .header-container {
    width: 80%;
    max-width: 1560px;
    padding-top: 45px;
    padding-bottom: 110px;
  } 

  .logo {
    margin-bottom: 235px;
  }

  .logo-text-icon {
    width: 191px;
    height: 52px;
  }

  .title {
    font-size: 5.625rem;
    letter-spacing: 5px;
    padding: 0;
  }

  .title_part-2 {
    letter-spacing: 3px;
    margin: 0;
    padding-left: 450px; 
  }

  .links-list {
    display: flex;
    justify-content: center;
  }

  li.link-box {
    margin-top: 190px;
  }

  .link-box:last-child {
    margin-left: 50px;
  }

  /*ATHLETS*/
.article-container {
  padding-top: 20px;
}

.article-image-footballer {
  justify-content: flex-end;
  max-width: 50%;
  margin-top: 0;
  padding-top: 0;
}

  .article-title {
    font-size: 80px;
    margin-top: 70px;
    margin-bottom: 0;
  }

  .article-title.athlets {
    padding-left: 53%;
  }

  .article-item {
  padding-bottom: 53px;
  }

  .item-content.athlets {
    padding-left: 53%;
    padding-right: 190px;
  }
  
  .item-number {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .item-number::after {
    width: 19px;
    height: 5px;
    border-radius: 2px;
  }

  .item-name {
    font-size: 36px;
    letter-spacing: 2px;
  }

  .item-text {
    font-size: 20px;
  }

  .connection {
    background-color: #ffffff; 
    padding-top: 75px;
  }

  .collaboration {
    padding-top: 55px;
  }
  
  .growth {
    padding-top: 55px;
  }

  .last-item-number {
    font-size: 18px;
  }
  
  .last-item-number::after {
    width: 19px;
    height: 5px;
  }
  
  .last-item-text {
    font-size: 20px;
  }

  /*PLAYERS*/
  .article-image-basketballer {
    justify-content: flex-start;
    max-width: 50%;
    margin-top: 0;
    left: 45%;
  }

  .article-title.players {
    padding-right: 53%;
    padding-left: 190px;
  }

  .item-content.players {
    padding-left: 190px;
    padding-right: 50%;
  }

  .players.collaboration {
    padding-bottom: 75px;
  }
}




